.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
    
}
.header__logo{ 
    height: 50px;
    object-fit: contain;

}
p{
    color:#2B3A55;
}
.header_icon{
    padding: 20px; 
}
.match_words{
    margin: 10px 10px 10px 10px;
    text-align: center;
    font-size: 4vw; 
    color:#2B3A55;
}
.leaderboard{
    font-size: 6vh;
}
a{
    text-decoration: none;
    color:inherit;
}
.front{
    z-index: 25;
}